 header{
            background-image: url(../images/headerbg.jpg);
            height:230px;
            margin-top: 10px;
            text-align: center
        }
        header p{
            font-size: 40px;
            color: white;
            line-height: 230px;
        }
        footer{
            height: 200px;
            background-color: black;
            margin-top: 60px;
            clear: both;
        }
        #td1{
            color: white;
            font-size: 20px;
            width: 220px;
        }
        #td2 ul li{
            list-style: none;
            float: left;
            margin-left: 20px;
            
        }
        #td3 img{
           
            float: left;
            margin-left: 60px;
        }
        #arr{
            float: left;
            width: 140px;
            margin-left: 20px;
        }
        #fl{
            float: right;
            margin-left: 40px;
        }
        
        footer table{
            margin: auto;
            margin-top: 10px;
            
        } 

.nav{
    margin-left: 80px;
}
.div{
    margin: auto;
    width: 86%;
}
#button{
    color: white;
    background: red;
    border-width: 0px;
}
.dropdown-menu li a:hover{
    color: red;
}


#view img{
    width: 100%;
    height:200px;
}
#view{
  
    margin-top: 3px;
}
.upload{
    width: 260px;
    height: 35px;
    background-color:crimson;
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
    border: 1px solid red;
}
.upload input{
        
    width: 200px;
    height: 500ox;
    opacity: 0;
    position: relative;
    z-index: 1;
    top: -20px;
        
}
.upload span{
    color: white;
    font-size: 16px;
}
#div_one{
   
    width: 280px;
    float: left;
    margin-left: 120px;

}
#div_two{
    float: right;
    margin-right: 100px;
}
#title{
    margin-top: 20px;
}
#title_one{
    width: 640px;
    height: 36px;
}
#select{
    width: 315px;
    height: 36px;
    font-size: 16px;
}
#right{
    float: right;
    margin-right: 0px;
    margin-top: -30px;
}
#right input{
    width: 315px;
    height: 36px;
    font-size: 16px;
}

#name{
    margin-left: 200px;
}
#div_three{
    margin-top: 20px;
    width: 250px;
    margin-left: 120px;
  
}
#editor{
    width: 81%;
    margin-left: 120px;
}